.ctrl {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	right: 0;
	gap: 5px;
	padding: 10px;
	background-color: gold;
	align-items: center;
}
.ctrl button {
	color: white;
	background-color: black;
}

.ctrl .active {
	background-color: greenyellow;
	color: #000;
}
.ctrl button:is(:hover, :focus) {
	color: #000;
	background-color: lightgray;
}
